<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="./assets/Cataratas.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cataratas del Iguazú (50% off)</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Última actualización hace 3 minutos</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="./assets/roma.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Roma (10% off)</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Última actualización hace 3 minutos</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="./assets/egipto.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Egipto (20% off)</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Última actualización hace 3 minutos</small>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="./assets/Paris.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">París (24% off)</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
          <div class="card-footer">
            <small class="text-muted">Última actualización hace 3 minutos</small>
          </div>
        </div>
      </div>
  </div>